@font-face {
    font-family: 'Yekan';
    src: url('fonts/Yekan.eot');
    src: url('fonts/Yekan.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yekan.woff2') format('woff2'),
    url('fonts/Yekan.woff') format('woff'),
    url('fonts/Yekan.otf') format('opentype'),
    url('fonts/Yekan.ttf') format('truetype'),
    url('fonts/Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Yekan, Tahoma, serif;
    outline: none;
}
ul{
    list-style-type: none;
}
/* first row */
.container{
    width: 80vw;
    margin: 0 auto;
}
.head{
    background: #37474F;
    width: 100vw;
}
.max-width{
    display: flex;
    width: 100%;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header div a{
    color: #ffffff;
    margin: 0 5px;
    font-size: 15px;
}
#welcome{
    display: none;
}
/* second row */
.second-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.search-box{
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 10px gray;
    flex-grow: 1;
    display: flex;
    margin: 0 20px;
    padding: 15px;
}
.search-box i{
    margin: 20px 0 20px 10px;
}
.search{
    border: 0;
    border-bottom: 2px solid #00BCD4;
    flex-grow: 1;
    padding: 5px;
}
.search-button{
    margin-right: 10px;
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #00BCD4;
    background: #00BCD4;
    color: #ffffff;
    transition: all 0.5s ease;
}
.search-button:hover{
    box-shadow: 5px 5px 10px gray;
    transition: all 0.5s ease;
}
.logo2{
    display: none;
}
.cart-button{
    margin-right: 20px;
    font-size: 17px;
    box-shadow: 1px 1px 10px gray;
    padding: 15px 15px;
    border: 1px solid #00C851;
    background: #00C851;
    color: #ffffff;
    transition: all 0.5s ease;
}
.cart-button:hover{
    box-shadow: 5px 5px 10px gray;
    transition: all 0.5s ease;
}
/* nav */
.nav{
    width: 100vw;
    background: #00BCD4;
    padding: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu li a{
    color: #ffffff;
    transition: all 0.5s ease;
}
.menu li a:not(.menu-button):hover {
    color: #005A6F;
    transition: all 0.5s ease;
}
.menu .menu-button{
    border: 1px solid #00C851;
    background: #00C851;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
    transition: all 0.5s ease;
}
.menu .menu-button:hover{
    box-shadow: 5px 5px 10px gray;
    transition: all 0.5s ease;
}
.nav-btn{
    display: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.nav-btn2{
    display: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}
/* grid */
.grid-container{
    width: 75vw;
    margin: 10px auto;
    display: grid;
    grid-template-areas: 'grid1 grid1 grid1' 'grid3 grid3 grid2' 'grid4 grid4 grid4';
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.grid-container img{
    width: 100%;
    height: 40vh;
}
.tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
}
.tab{
    text-align: center;
    color: gray;
    background: #ffffff;
    width: 25%;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
}
.tab-active{
    background: #00BCD4;
    color: #ffffff;
}
.tab:hover{
    background: #00BCD4;
    color: #ffffff;
    transition: all 0.5s ease;
}
.prev , .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.6s ease;
    user-select: none;
}
.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
.grid1{
    position: relative;
    grid-area: grid1;
}
.grid2{
    position: relative;
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    position: relative;
    grid-area: grid4;
}
/* carousel-head */
.head-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-carousel-btn a{
    user-select: none;
    padding: 6px 12px;
    border: 1px solid #607D8B;
    border-radius: 2px;
    cursor: pointer;
    background: #607D8B;
    color: #ffffff;
    box-shadow: 1px 1px 5px gray;
    transition: all 0.5s ease;
}
.head-carousel-btn{
    margin: 8px;
}
.head-carousel-btn a:hover{
    background: #7C99A7;
    box-shadow: 3px 3px 15px gray;
    transition: all 0.5s ease;
}
.head-carousel div:first-child a{
    font-size: 20px;
    color: black;
    transition: all 0.5s ease;
}
.head-carousel div:first-child a:hover{
    color: #00BCD4;
    transition: all 0.5s ease;
}
hr{
    width: 80vw;
    margin: 3px auto;
    color: #0000FF;
}
/* carousel-card */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    padding: 20px;
    margin: 45px 10PX;
    border:1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}
.card-img{
    border-radius: 5px;
    width: 80%;
    height: 57%;
    margin-top:-40PX ;
    box-shadow: 2px 2px 5px gray;
    transition: all 0.5s ease;
}
.card-img:hover{
    box-shadow: 3px 3px 10px gray;
    transition: all 0.5s ease;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: -20px;
}
.card-text{
    line-height: 2.3;
}
.card-price{
    line-height: 1.8;
    margin:8px 0;
    color: #00BCD4;
}
.card-price span{
    color: gray;
    text-decoration: line-through;
}
.card-btn{
    text-align: center;
    border: 1px solid #00BCD4;
    color: #ffffff;
    background: #00BCD4;
    box-shadow: 2px 2px 5px gray;
    border-radius: 1px;
    transition: all 0.5s ease;
    padding: 8px 0;
    width: 100%;
}
.card-btn:hover{
    box-shadow: 2px 2px 10px gray;
    transition: all 0.5s ease;
}
/* carousel-body */
.carousel{
    position: relative;
    transition: transform 0.5s ease;
}
.carousel-box{
    height: 500px;
    overflow: hidden;
}
.carousel-item{
    display: flex;
    position: absolute;
    width: 20%;
}
@media (max-width: 1400px){
    .container{
        width: 90vw;
    }
}
@media (max-width: 1280px) {
    .container{
        width: 98vw;
    }
}
@media (max-width: 1150px ){
    .menu-button{
        display: none;
    }
}
@media (max-width: 1030px ){
    .logo{
        margin-right: -15px;
    }
    .cart-button{
        margin-left: 0;
        margin-right: 10px;
        font-size: 15px;
        padding: 10px 20px;
    }
    .search-box{
        margin: 0 10px;
        padding: 10px;
    }
    .menu{
        display: none;
    }
    .nav-btn{
        display: block;
    }
}
@media (max-width: 750px) {
    #first , #second{
        display: none;
    }
    .grid-container{
        width: 85vw;
    }
    .tab{
        padding: 5px;
    }
    #welcome{
        display: block;
        margin-right: 15px;
    }
    #welcome a{
        color: #37474F;
    }
    .head{
        background: #00BCD4;
        padding: 0;
    }
    .second-head{
        display: none;
    }
    .logo{
        display: none;
    }
    .logo2{
        display: block;
    }
    .nav{
        display: none;
    }
    .nav-btn2{
        display: block;
    }
}
